#about {
    position: relative;
    padding: 1rem 30rem 1rem 15rem;
}

.quote {
    position: absolute;
    right: 10rem;
    width: 15vw;
    top: 30%;
}

blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    font-style: italic;
}

@media (max-width: 1300px) {

    #about {
        padding: 1rem 10rem;
    }  
    .quote {
        position: static;
        width: 60vw;
        padding-top: 1rem;
    }
}

@media (max-width: 700px) {
    #about {
        padding: 1rem 7rem;
    }
}

@media (max-width: 500px) {
    #about {
        padding: 1rem 3rem;
    }
}