#coronavirus-heading-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#coronavirus-heading-container i {
    padding: 1rem;
    font-size: 3rem;
}

#coronavirus-heading {
    padding: 1rem;
}

@media (max-width: 600px) {

 #coronavirus-heading-container {
     flex-direction: column;
 }

 #coronavirus-heading-container h2, #coronavirus-heading-container i {
     font-size: 1.2rem;
     padding: 0.5rem;
 }
}