header {
    background-image: url(../images/Background_GIS.jpg);
    padding: 7rem 5rem 5rem 5rem;
    margin-bottom: 2rem;
}

header h1, header p {
    padding: 0 13rem;
    color: white;
    font-size: 2rem;
}

#title {
    font-size: 4rem;
    font-weight: bold;
}


@media (max-width: 1300px) {
    header p, header h1 {
        padding: 0 3rem;
    }
    #title {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    header {
        padding: 1rem;
        background-image: url(../images/Background_GIS_mobile.jpg);
    }
    header p {
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0.7rem;
    }
    #title {
        font-size: 1.5rem;
        padding: 0.2rem;
        margin: 0.7rem;
    }
}