#logoImage {
    width: 3rem;
    height: 3rem;
}

#logoImage img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0.2rem;
}

#navbarNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

#navbarNav ul {
    justify-content: center;
    flex-grow: inherit;
}

.nav-link {
    text-align: center;
}

#coronavirus-heading {
    font-weight: bold;
    padding-left: 3rem;
    color: rgb(194, 31, 31);
}

.socialMedia {
    display: flex;
} 

.socialMediaIcon {
    margin: 0.2rem;
}

.socialMediaIcon a {
    color: black;
    font-size: 1.5rem;
}

#facebook a i {
    color: #3b5998;
}

#vk a i {
    color: #2787F5;
}

#twitter a i {
    color: 	#1DA1F2;
}


.registration-button {
    color: #cdff62; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1.3rem;
    border-radius: 1rem;
    border: 0.1rem solid  rgba(255,255,255,0.6);
    background: linear-gradient(to right, rgba(64,177,175,255),rgba(57,154,83,255));
    transition: all ease 1s;
}

#registration-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-icon {
    color: #cdff62;
    font-size: 1.5rem;
    padding-right: 1rem;
}

#registration-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #cdff62; 
    text-transform: uppercase;
}

.registration-button:hover {
    background: linear-gradient(to left, rgba(64,177,175,255),rgba(57,154,83,255));
}

a .registration-button:hover > div > i {
    
    animation: registration-button-animation 1s ease infinite;
}

@keyframes registration-button-animation {
    0%   { transform: translateY(0); }
    33%  { transform: translateY(-3px); }
    66%  { transform: translateY(3px); }
    100% { transform: translateY(0); }
}


@media (max-width: 1200px) {
    .container {
        margin: 0;
    }
    .socialMedia {
        display: none;
    } 
    .registration-button {
        margin-right: 0.2rem;
        padding: 0.3rem;
        font-size: smaller;
    }
    #register-icon {
        color: #cdff62;
        font-size: 1rem;
        padding-right: 1rem;
    }
    .nav-link {
        font-size: 0.7rem;
    }
    #coronavirus-heading {
        padding-left: 1rem;
    }
    
}

@media (max-width: 600px) {
    #registration-link {
        display: none;
    }
    #coronavirus-heading {
        padding-left: 0;
    }

    #navbarNav {
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
    }

}