#speakers {
    padding: 0rem 10rem;
    font-size: 1.2rem;
}

.speakers-gallery {
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;

}

.speaker {
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.speaker img {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    margin: 0;
}

.name {
    font-weight: bold;
    padding-top: 2rem;
}

.location {
    font-weight: lighter;
}

.speaker-description {
    padding-top: 0.5rem;
}

@media (max-width: 1100px) {
    #speakers {
        padding: 0rem 5rem;
    }

    .speaker {
        width: 40%;
    }

}

@media (max-width: 770px) {
    #speakers {
        padding: 1rem;
    }

    .speaker {
        width: 70%;
    }

}

@media (max-width: 600px) {
    #speakers {
    font-size: 1rem;
    }
}

